<br>
<div class="container card bg-secondary">
  

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-5 bg-secondary ">
          <br>
          <div class="card" style="width:25em; padding-top:0">
            <img class="card-img-top" src="src/assets/Profile.png" alt="Card image" style="width:100%;">
            <div class="card-body">
              <h4 class="card-title text-primary">Dennis Muthiora</h4>
              <p class="text-success">"First say to yourself what you would be; and then do what you have to do."</p>
              <a href="https://github.com/wdmuthiora" target="_blank" class="btn btn-success">See my GitHub Profile</a>
            </div>
          </div>
          <br>
        </div>

        <div class="col-md-7 bg-secondary ">
          <br>
          <br>
          <br>
          <hr>
          <br>
          <br>
          <div class="card col-md-7 bg-secondary" style="width:37em; padding: 1%; position:relative; border: green solid 1px">
          <br>
            <p class="bg-secondary text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <br>
          <br>
          <hr>
        </div>

      </div>
    </div>
  
</div>
<br>