<div class="container">
<ng-progress></ng-progress>
  <nav class="navbar fixed-top navbar-dark bg-dark">

    <a class="navbar-brand navbar-dark bg-dark" routerLink="/search" routerLinkActive="active"> {{title}}</a>
    <a class="navbar-brand navbar-dark bg-dark" routerLink="/results" routerLinkActive="active"> Results </a>
    <a class="navbar-brand navbar-dark bg-dark" routerLink="/about" routerLinkActive="active"> About </a>

  </nav>

  <hr>
  <br>
  <div class="container">
  </div>
</div>

<router-outlet></router-outlet>