<p>search-form works!</p>
<div class="container">
  <hr>
  <h5 class="text-center"></h5>
  <div class="card bg-light text-white">
    <div class="card-body">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <form>
            <div class="form-group ">
              <label for="searchItem">Search GitHub</label>
              <input class="form-control" type="text" 
                placeholder="Enter username or repository name" #text>
            </div>
            <br>
            <button type="submit" (click)="doSearch(text.value)" class="btn btn-lg btn-dark btn-outline-warning">Search</button>
            <hr>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
